---
eleventyComputed:
  title: News and Views in Frontend Development{% if pagination.pageNumber > 0 %} ({{ pagination.pageNumber + 1 }}){% endif %}
layout: index.njk
pagination:
  alias: entries
  data: collections.posts
  reverse: true
  size: 150
permalink: /{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}
---
<h1>{{ title }}</h1>
<p>Articles and books, tips and tricks, craft and beauty from the world of frontend development. Explore <a href=/tags/>all tags</a>. Stay informed <a href=/feed/>per feed</a> and <a href=https://twitter.com/frontenddogma>on Twitter</a>.
<ol start={{ (collections.posts.length - (pagination.pageNumber * pagination.size)) }} reversed>
	{% for entry in entries -%}
	<li>
		<a href="{% if entry.data.target_url %}{{ entry.data.target_url }}{% else %}{{ entry.url | url }}{% endif %}">{{ entry.data.title }}</a> (<a href="https://twitter.com/intent/tweet?text={{ entry.data.title | urlencode }}{% if entry.data.author %},%20by%20@{{ entry.data.author }}{% if entry.data.coauthor %}%20and%20@{{ entry.data.coauthor }}{% endif %}{% if entry.data.publisher %}%20%28@{{ entry.data.publisher }}%29{% endif %}{% else %}{% if entry.data.publisher %},%20by%20@{{ entry.data.publisher }}{% endif %}{% endif %},%20featured%20on%20@frontenddogma%3A%0A%0A{% if entry.data.target_url %}{{ entry.data.target_url }}{% else %}{{ metadata.url_truncated }}{{ entry.url | url }}{% endif %}">tweet</a>) · <time datetime="{{ entry.date | htmlDateString }}">{{ entry.date | readableDate }}</time> ·
		{%- set comma = joiner() -%}
		{%- for tag in entry.data.tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset -%}
			{{ comma() }} <a href={{ tagUrl | url }} rel=tag>{{ tag }}</a>
		{%- endfor %}
	{% endfor %}
</ol>
<ul class=fd-nav>
	<li><a href={{ '/tags/' | url }}>All tags</a>
	{% if collections.posts.length > pagination.size %}
	{% for pageEntry in pagination.pages %}
	<li>{% if not (page.url == pagination.hrefs[loop.index0]) %}<a href={{ pagination.hrefs[loop.index0] }}>{% endif %}Page {{ loop.index }}{% if not (page.url == pagination.hrefs[loop.index0]) %}</a>{% endif %}
	{% endfor %}
	{% endif %}
</ul>