---
layout: home.njk
permalink: /
title: Your Complementary Source for Frontend Development
---
<div id=fd-showcase>
  <section>
    <h2>News and Views in Frontend Development</h2>
    <p>Articles, guides, specs, books, and beauty out of the world of frontend development. Stay informed <a href={{ metadata.feed.path | url }}>per feed</a> or <a href=https://twitter.com/frontenddogma>on Twitter</a>.
    {% set maxPosts = collections.posts.length %}
    <!-- <p>Last {% if maxPosts == 1 %}post{% else %}{{ maxPosts }} posts{% endif %}: -->
    {% set posts = collections.posts | head(-25) %}
    {% set postsCounter = collections.posts | length %}
    {% include 'partials/posts.njk' %}
    <ul class=fd-nav>
      <li><a href={{ '/posts/' | url }}>All posts</a>
      <li><a href={{ '/tags/' | url }}>All tags</a>
      <!-- <li><a href={{ metadata.feed.path | url }}>Feed</a> -->
    </ul>
  </section>
  <section>
    <h2>The Pledge</h2>
    <p>Are you a frontend developer who cares about the craft? Take <a href=/pledge>the validation pledge</a>!
  </section>
  <!-- {% if collections.featureList != '' %}
  <section>
    <h2>Featured</h2>
    <ul>
    {% for featured in collections.featureList | reverse | head(-3) %}
      <li><a href={{ featured.url | url }}>{% if featured.data.title %}{{ featured.data.title }}{% else %}<code>{{ featured.url }}</code>{% endif %}</a>
    {% endfor %}
    </ul>
  </section>
  {% endif %} -->
  <section>
    <h2>Contribute</h2>
    <p>You want to link or write content? The site is not ready yet, however you can always suggest something in <a href=https://github.com/j9t/frontenddogma.com>the Frontend Dogma repo</a>.
  </section>
</div>