{% import "/views/macros/renderPartial.njk" as renderPartial with context %}

<!DOCTYPE html>
<html lang={{doc.locale}}>
	<meta charset=utf-8>
	<meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
	{% if doc.fields.description %}<meta name=description content="{{doc.fields.description}}">{% endif %}
	<title>{{doc.fields.title}} · {{podspec.title}}</title>
	<link rel=stylesheet href={{a.static('/dist/css/main.min.css').url.path}}>
	<script src={{a.static('/dist/js/main.min.js').url.path}}></script>
	{# <link rel=alternate href={{g.url('/content/pages/feed.yaml').path}} type=application/rss+xml title="{{_('Alle Beiträge')}}"> #}
	{# @@ #}
	<ul>
		{% for posts in g.docs('posts', order_by='date', reverse=True)[0:5] %}
		<li><a href={{posts.url.path}}>{{posts.title}}</a>
		{% endfor %}
	</ul>
	{% set partial = doc.pod.doc('/content/partials/header.yaml').fields %}
	{{renderPartial.renderPartial(partial)}}
	{% if doc.fields.partials %}
			{% for partial in doc.fields.partials %}
					{{renderPartial.renderPartial(partial)}}
			{% endfor %}
	{% else %}
			<div class="main__body">
					{{doc.body|markdown|safe}}
			</div>
	{% endif %}
	{% set partial = doc.pod.doc('/content/partials/footer.yaml').fields %}
	{{renderPartial.renderPartial(partial)}}