{% extends "/views/base.njk" %}

{% block main %}
  <p class=meta>{{_('Ein Beitrag vom {date} ☕', date=doc.date|date(format='d. MMMM YYYY'))}}
  {% if doc.asin %}<div><a href=https://www.amazon.de/dp/{{doc.asin}}/?tag=hhk-21><img src={{doc.asin_image}} alt="Produktbild von {{doc.title}}." class=product></a></div>{% endif %}
  {% if doc.html %}
    {{doc.html|safe}}
  {% endif %}
  <ul class=meta>
    {% set next_doc = doc.next() %}
    {% set prev_doc = doc.prev() %}
    {% if prev_doc %}
      <li>←&nbsp;<a href={{prev_doc.url.path}}>{{prev_doc.title}}</a>
    {% endif %}
    {% if next_doc %}
      <li><a href={{next_doc.url.path}}>{{next_doc.title}}</a>&nbsp;→
    {% endif %}
  </ul>
{% endblock %}