---
data: pledge
eleventyNavigation:
  key: The Pledge
  order: 2
layout: post.njk
title: The Validation Pledge
---
<p>You’re a frontend developer? You validate your code? You <em>ship</em> valid code? Take the validation pledge, and <a href=https://github.com/j9t/frontenddogma.com/blob/main/_data/developers.json>add yourself</a> to this page.
<ul id=fd-developers>
{% for developer in pledge %}
  {% if developer.validates == 'yes' %}<li>{% if developer.website %}<a href="{{ developer.website | url }}">{% endif %}{{ developer.name }}{% if developer.website %}</a>{% endif %}{% endif %}
{% endfor %}
</ul>
<h2 id=ground-rules>Ground Rules</h2>
<ol>
  <li>You must be in a role related to frontend development and it must be clear that you’re in a role related to frontend development.
  <li>You must answer truthfully whether you <a href=https://www.thesitewizard.com/webdesign/htmlvalidation.shtml>validate your HTML and CSS code</a> (yes! that page! it’s valid!).
  <li>You list your own website. Social media profiles can be okay. Organizational and commercial, as well as empty or scammy sites are not okay.
  <li>You acknowledge that there’s no right or entitlement to being or staying linked and listed.
</ol>