---
data: pledge
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: Pledge
  order: 1
layout: post.njk
title: The Validation Pledge
---
<p>You’re a frontend developer? You validate your code? You ship valid code? <a href=https://github.com/j9t/frontenddogma.com/blob/main/_data/pledge.json>Take the validation pledge.</a>
<ul id=fd-developers>
	{% for developer in pledge %}
	{% if developer.validates == 'yes' %}<li>{% if developer.website %}<a href="{{ developer.website | url }}">{% endif %}{{ developer.name }}{% if developer.website %}</a>{% endif %}{% endif %}
	{% endfor %}
</ul>
<h2>Why Pledge?</h2>
<p>The pledge is a commitment to the craft of frontend development. <a href=/posts/2021/why-validate/><cite>Why Validate?</cite></a> outlines why validation is so important.
<h2>What Are the Conditions?</h2>
<ol>
	<li>You must be a frontend developer and it must be clear that you’re a frontend developer.
	<li>You pledge that you validate your HTML and CSS code.
	<li>If you choose to add your website, you list your own website. Social media profiles are okay.
	<li>You acknowledge that there’s no right or entitlement to being or staying linked and listed.
</ol>