<!doctype html>
<html lang=en>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
  {% if description %}<meta name=description content="{{ description | truncate(140, true, '…') }}">{% endif %}
  <meta name=twitter:card content=summary>
  <meta name=twitter:title content="{% if title %}{{ title }} · {% endif %}{{ metadata.title }}">
  <meta name=twitter:description content="{{ (description or metadata.description_fallback) | truncate(140, true, '…') }}">
  <meta name=twitter:image content={{ metadata.url_cdn_truncated }}/media/logo-social.png>
  <meta property="og:image" content="{{ metadata.url_cdn_truncated }}/media/logo-social.png">
  <title>{% if title %}{{ title }} · {% endif %}{{ metadata.title }}</title>
  <link rel=canonical href="{% if original_url %}{{ original_url | url }}{% else %}{{ metadata.url_truncated }}{{ page.url | url }}{% endif %}">
  <!-- @@ Add CDN references and minify -->
  <link rel=stylesheet href={{ '/setup/default.css' | url }}>
  <link rel=stylesheet href={{ '/setup/prism-1.23.0.css' | url }}>
  <link rel=alternate href={{ metadata.feed.path | url }} type=application/atom+xml title="{{ metadata.title }}">
  <link rel=alternate href={{ metadata.jsonfeed.path | url }} type=application/json title="{{ metadata.title }}">
  <div id=notification>
    <p>Hi there! Frontend Dogma is just starting the engines. Expect&nbsp;updates.
  </div>
  <header>
    <h1>{% if page.url != '/' %}<a href={{ '/' | url }}>{% endif %}<!-- @@ Add CDN reference --><img src=/media/logo.svg alt="{{ metadata.title }}">{% if page.url != '/' %}</a>{% endif %}</h1>
    <!-- @@ -->
    <nav>
      <ul>
        {%- for entry in collections.all | eleventyNavigation %}
        <li>{% if entry.url != page.url %}<a href={{ entry.url | url }}>{% endif %}{{ entry.title }}{% if entry.url != page.url %}</a>{% endif %}
        {%- endfor %}
      </ul>
    </nav>
  </header>
  <main>
    <!-- Beware of code entropy -->
    {{ content | safe }}
  </main>
  <footer>
    <p>This is {% if page.url != '/' %}<a href={{ '/' | url }}>{% endif %}{{ metadata.title }}{% if page.url != '/' %}</a>{% endif %}: {{ metadata.description | lower }}
    <ul>
      <li><a href=https://twitter.com/frontenddogma>Twitter</a>
      <li><a href={{ metadata.feed.path | url }}>Feed</a>
    </ul>
  </footer>
  {% if vg_wort %}<img src=https://vg07.met.vgwort.de/na/{{vg_wort}} alt="" id=fd-vg-wort>{% endif %}