---
layout: base.njk
---
<article>
	<h1>{% if target_url %}<a href="{{ target_url | url }}">{% endif %}{{ title }}{% if target_url %}</a>{% endif %}</h1>
{% if tags %}
	<p id=fd-meta>
		{% if author %}by <a href=https://twitter.com/{{ author }}>@{{ author }}</a>{% if coauthor %} and <a href=https://twitter.com/{{ coauthor }}>@{{ coauthor }}</a>{% endif %}{% if publisher %} (<a href=https://twitter.com/{{ publisher }}>@{{ publisher }}</a>){% endif %}
		{% else %}
		{% if publisher %}by <a href=https://twitter.com/{{ publisher }}>@{{ publisher }}</a> {% endif %}
		{% endif %}
		on <time datetime={{ page.date | htmlDateString }}>{{ page.date | readableDate }}</time>, tagged
		{% set comma = joiner() %}
		{% for tag in tags | filterTagList %}
			{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}{{ comma() }} <a href={{ tagUrl | url }} rel=tag>{{ tag }}</a>
		{%- endfor -%}
		<span> · <a href="https://twitter.com/intent/tweet?text={{ title | urlencode }}{% if author %},%20by%20@{{ author }}{% if coauthor %}%20and%20@{{ coauthor }}{% endif %}{% if publisher %}%20%28@{{ publisher }}%29{% endif %}{% else %}{% if publisher %},%20by%20@{{ publisher }}{% endif %}{% endif %},%20featured%20on%20@frontenddogma%3A%0A%0A{% if target_url %}{{ target_url }}{% else %}{{ metadata.url_truncated }}{{ page.url | url }}{% endif %}">Tweet this?</a></span>
{% endif %}
	{% if image %}<div class=fd-promo>{% if image_url or target_url %}<a href="{{ image_url or target_url | url }}">{% endif %}<img src={{ env.base }}media/{{ image }} alt="{{ title }}" loading=lazy width=110>{% if image_url or target_url %}</a>{% endif %}</div>{% endif %}

{{ content | safe }}

{% if target_url %}<p>This post was published elsewhere. Check out <a href="{{ target_url | url }}"><cite>{{ title }}</cite></a>!{% endif %}

{% if original_url %}<p>(This post was <a href="{{ original_url | url }}" rel=alternate>originally published elsewhere</a>.){% endif %}

{% set nextPost = collections.posts | getNextCollectionItem(page) %}
{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% if nextPost or previousPost %}
	<ul class="fd-nav fd-alt">
		{% if nextPost %}<li>→ <a href="{% if nextPost.data.target_url %}{{ nextPost.data.target_url }}{% else %}{{ nextPost.url | url }}{% endif %}">{{ nextPost.data.title }}</a>{% endif %}
		{% if previousPost %}<li>← <a href="{% if previousPost.data.target_url %}{{ previousPost.data.target_url }}{% else %}{{ previousPost.url | url }}{% endif %}">{{ previousPost.data.title }}</a>{% endif %}
	</ul>
{% endif %}
		</article>