---
layout: base.njk
---
<article>
	<h1>{% if target_url %}<a href="{{ target_url | url }}">{% endif %}{{ title }}{% if target_url %}</a>{% endif %}</h1>
	{% if tags %}{% if not author %}{% set author = 'j9t' %}{% endif %}<p id=fd-meta>by <a href=https://twitter.com/{{ author }}>@{{ author }}</a>{% if publisher %} (<a href=https://twitter.com/{{ publisher }}>@{{ publisher }}</a>){% endif %} on <time datetime={{ page.date | htmlDateString }}>{{ page.date | readableDate }}</time>, tagged {%- set comma = joiner() %}{% for tag in tags | filterTagList %}{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}{{ comma() }} <a href={{ tagUrl | url }} rel=tag>{{ tag }}</a> {%- endfor %}<span> · <a href="https://twitter.com/intent/tweet?text={{ title | urlencode }}%20by%20@{{ author }}{% if publisher %}%20%28@{{ publisher }}%29{% endif %},%20featured%20on%20@frontenddogma%3A%0A%0A{% if target_url %}{{ target_url }}{% else %}{{ metadata.url_truncated }}{{ page.url | url }}{% endif %}">Tweet&nbsp;this?</a></span>{% endif %}
	{% if image %}<div id=fd-teaser>{% if target_url or image_url %}<a href="{{ target_url or image_url | url }}">{% endif %}<img src={{ env.base }}media/{{ image }} alt="{{ title }}">{% if target_url or image_url %}</a>{% endif %}</div>{% endif %}

{{ content | safe }}

{% if target_url %}<p>This post was published elsewhere. Check out <a href="{{ target_url | url }}">{{ title }}</a>!{% endif %}

{% if original_url %}<p>(This post was <a href="{{ original_url | url }}" rel=canonical>originally published elsewhere</a>.){% endif %}

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
	<ul class="fd-nav fd-alt">
		{% if nextPost %}<li>Next: <a href={{ nextPost.url | url }}>{{ nextPost.data.title }}</a>{% endif %}
		{% if previousPost %}<li>Previous: <a href={{ previousPost.url | url }}>{{ previousPost.data.title }}</a>{% endif %}
	</ul>
{%- endif %}
		</article>