---
layout: home.njk
permalink: /posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}
eleventyNavigation:
  key: Posts
  order: 1
pagination:
  data: collections.posts
  size: 100
  alias: entries
eleventyComputed:
  title: Posts {% if pagination.pageNumber > 0 %}({{ pagination.pageNumber + 1 }}){% endif %}
---
<h1>{{ title }}</h1>
<ol start={{ (collections.posts.length - (pagination.pageNumber * pagination.size)) }} reversed>
{%- for entry in entries | reverse %}
  <li>
    <a href={{ entry.url | url }}>{% if entry.data.title %}{{ entry.data.title }}{% else %}<code>{{ entry.url }}</code>{% endif %}</a> ·
    <time datetime="{{ entry.date | htmlDateString }}">{{ entry.date | readableDate }}</time>
    ·
    {% set comma = joiner() %}
    {% for tag in entry.data.tags | filterTagList %}
      {%- set tagUrl -%}/tags/{{ tag | slug }}/{%- endset -%}
      {{ comma() }} <a href={{ tagUrl | url }} rel=tag>{{ tag }}</a>
    {%- endfor -%}
{%- endfor %}
</ol>
<ul class=fd-nav>
  <li><a href={{ '/tags/' | url }}>All tags</a>
  {% if collections.posts.length > pagination.size %}
  {%- for pageEntry in pagination.pages %}
  <li>{% if not (page.url == pagination.hrefs[ loop.index0 ]) %}<a href={{ pagination.hrefs[ loop.index0 ] }}>{% endif %}Page {{ loop.index }}{% if not (page.url == pagination.hrefs[ loop.index0 ]) %}</a>{% endif %}</li>
  {%- endfor %}
  {% endif %}
</ul>