---
layout: home.njk
permalink: /
---
{% set maxPosts = collections.posts.length | min(3) %}
<p>Latest {% if maxPosts == 1 %}post{% else %}{{ maxPosts }} posts{% endif %}:

{% set posts = collections.posts | head(-3) %}
{% set postsCounter = collections.posts | length %}
{% include "posts.njk" %}

<p><a href={{ '/posts/' | url }}>Archive</a>