---
eleventyComputed:
  title: Pages {% if pagination.pageNumber > 0 %}({{ pagination.pageNumber + 1 }}){% endif %}
layout: index.njk
pagination:
  alias: entries
  data: collections.all
  size: 100
permalink: /pages/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}
---
<h1>{{ title }}</h1>
<table>
	<thead>
		<th>URL
		<th>Title
	</thead>
	<tbody>
{%- for entry in entries %}
		<tr>
			<td><a href={{ entry.url | url }}><code>{{ entry.url }}</code></a>
			<td>{{ entry.data.title }}
		</tr>
{%- endfor %}
	</tbody>
</table>
{% if collections.all.length > pagination.size %}
<ul class=fd-nav>
	{%- for pageEntry in pagination.pages %}
	<li>{% if not (page.url == pagination.hrefs[ loop.index0 ]) %}<a href={{ pagination.hrefs[ loop.index0 ] }}>{% endif %}Page {{ loop.index }}{% if not (page.url == pagination.hrefs[ loop.index0 ]) %}</a>{% endif %}</li>
	{%- endfor %}
</ul>
{% endif %}