---
layout: home.njk
permalink: /tags/
title: Tags
---
<h1>{{ title }}</h1>
<ul>
{% for tag in collections.tagList | filterTagList | sort %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <li><a href={{ tagUrl | url }} rel=tag>{{ tag }}</a>
{% endfor %}
</ul>
<ul class=fd-nav>
  <li><a href={{ '/' | url }}>All posts</a>
  <!-- <li><a href={{ metadata.feed.path | url }}>Feed</a> -->
</ul>