---
layout: home.njk
permalink: /tags/
---
<h1>Tags</h1>
<ul>
{% for tag in collections.tagList | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
	<li><a href={{ tagUrl | url }}>{{ tag }}</a>
{% endfor %}
</ul>