---
layout: home.njk
permalink: /tags/
title: Tags
---
<h1>Tags</h1>
<ul>
{% for tag in collections.tagList | filterTagList | sort %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <li><a href={{ tagUrl | url }} rel=tag>{{ tag }}</a>
{% endfor %}
</ul>
<ol id=fd-nav>
	<li><a href={{ '/posts/' | url }}>All posts</a>
</ol>