/* @@ Set up, then normalize */

html {
	--border: #ddd;
	--brand: #f08713;
	background: #fff;
	color: #444;
	font: 400 100%/1.5 system-ui, sans-serif;
	padding: 1vh 2vw;
}

html * {
	max-width: 80ch;
}

/* body {
	background: #efefef;
	padding: .5rem 1rem;
} */

header {
	border-bottom: 1px solid var(--brand);
	margin: 0 0 1rem;
	overflow: hidden;
}

header h1 {
	float: left;
	margin: 0 .5rem 0 0;
}

header h1 img {
	height: 55px;
}

header ul,
article footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header ul li {
	display: inline;
	line-height: 3;
	padding-left: 1rem;
}

header a {
	border-bottom: 0 !important;
}

footer {
	clear: both;
	margin-top: 2rem;
}

main h1 a::before {
	content: '☞ ';
}

main + footer p:nth-last-child(2) {
	float: right;
}

main + footer p {
	margin: 0;
}

article footer ul li {
	display: block;
}

p,
table {
	margin: 1rem 0;
}

p#fd-meta {
	color: #666;
	margin: 0 0 1rem;
}

pre {
	font-size: .875rem !important;
	/* overflow: auto;
	white-space: pre-wrap; */
}

div#fd-teaser {
	float: right;
	padding: 0 0 1rem 1rem;
}

div#fd-teaser img {
	border: 1px solid var(--border);
	display: block;
	line-height: 0;
	max-width: 150px;
	padding: 1px;
}

div#fd-teaser a {
	border: 1px solid var(--brand);
	display: block;
}

div#fd-teaser a img {
	border: 0;
}

div#fd-showcase,
div#fd-showcase section {
	overflow: auto;
}

div#fd-showcase section:nth-child(2) h2::after {
	content: ' ☆';
}

div#fd-showcase section:first-child {
	float: left;
	margin-right: 3%;
	width: 64%;
}

div#fd-showcase section:first-child :last-child,
div#fd-showcase section:last-child :last-child {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

h1,
div#fd-showcase h2 {
	font-size: 1.5rem;
	line-height: 2;
	margin: 0;
}

h2 {
	font-size: 1.3125rem;
	line-height: 2;
	margin: 0;
}

h3 {
	font-size: 1.25rem;
	line-height: 2;
	margin: 0;
}

ul,
ol {
	margin: 1em 0 1em 1.5em;
	padding: 0;
}

ol#fd-nav {
	margin: 1rem 0;
}

ol#fd-nav li {
	display: inline;
	padding-right: 1rem;
}

ol#fd-nav li:last-child {
	padding-right: 0;
}

img#fd-vg-wort {
	height: 1px;
	position: absolute;
	width: 1px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: none;
}

th,
td {
	border-right: 1px solid var(--border);
	padding: 0 .5rem;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	border-right: 0;
	padding-right: 0;
}

th {
	font-weight: 400;
	text-align: left;
	font-style: italic;
}

a {
	color: #222;
	font-weight: 500;
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	border-bottom: 1px solid var(--brand);
}

p a[rel=tag],
ol a[rel=tag] {
	font-weight: 400;
}

[class^='fd-status']::after {
	content: ' ◈';
	font-weight: 900;
}

.fd-status-go::after {
	color: green;
}

.fd-status-stop::after {
	color: red;
}

.fd-status-wait::after {
	color: orange;
}

@media screen and (max-width: 750px) {

	div#fd-showcase section:first-child {
		float: none;
		margin-right: 0;
		width: 100%;
	}

}

@media print {

	/* @@ */

}