/* @@ Set up, then normalize */

html {
	--border: #ddd;
	--brand: #f08713;
	--leading: 1.6875rem;
	--leading-half: .84375rem;
	background: #fff;
	color: #444;
	font: 400 100%/1.6875 system-ui, sans-serif;
	padding: 1vh 2vw;
}

html * {
	max-width: 80ch;
}

header {
	border-bottom: 1px solid var(--brand);
	margin: 0;
	overflow: auto;
}

header h1 {
	float: left;
	margin: 0 .75rem 0 0;
	padding-bottom: .5rem;
}

header h1 img {
	height: 52px;
}

header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header ul li {
	display: inline;
	padding-left: 1rem;
}

header a {
	border-bottom: 0 !important;
}

footer {
	clear: both;
	margin-top: var(--leading);
}

main {
	padding-top: 3px;
}

main h1 a {
	font-weight: 400;
}

main h1 a::before {
	content: '☞ ';
}

main + footer p:nth-last-child(2) {
	float: right;
}

main + footer p {
	margin: 0;
}

p,
table {
	margin: var(--leading-half) 0;
}

p#fd-meta {
	color: #666;
	margin: -.84375rem 0 var(--leading-half);
}

pre {
	font-size: .875rem !important;
	/* overflow: auto;
	white-space: pre-wrap; */
}

div#fd-teaser {
	float: right;
	padding: 0 0 1rem 1rem;
}

div#fd-teaser img {
	border: 1px solid var(--border);
	display: block;
	line-height: 0;
	max-width: 150px;
	padding: 1px;
}

div#fd-teaser a {
	border: 1px solid var(--brand);
	display: block;
}

div#fd-teaser a img {
	border: 0;
}

div#fd-showcase,
div#fd-showcase section {
	overflow: auto;
}

div#fd-showcase p,
div#fd-showcase ul {
	margin-bottom: 0 !important;
	margin-top: var(--leading);
}

div#fd-showcase section:nth-child(2) h2::after {
	content: ' ☆';
}

div#fd-showcase section:first-child {
	float: left;
	margin-right: 5%;
	width: 61%;
}

div#fd-showcase section:first-child :last-child,
div#fd-showcase section:last-child :last-child {
	margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

h1,
div#fd-showcase h2 {
	font-size: 1.4375rem;
	line-height: 1.1739;
	margin: var(--leading) 0;
}

h2 {
	font-size: 1.3125rem;
	line-height: 1.2857;
	margin: var(--leading) 0;
}

h3 {
	font-size: 1.25rem;
	line-height: 1.35;
	margin: var(--leading) 0;
}

h4 {
	font-size: 1.125rem;
	line-height: 1.5;
	margin: var(--leading) 0;
}

h5 {
	font-size: 1rem;
	line-height: 1.6875;
	margin: var(--leading) 0;
}

h6 {
	font-size: 1rem;
	line-height: 1.6875;
	margin: var(--leading) 0 -var(--leading);
}

ul,
ol {
	margin: var(--leading-half) 0 var(--leading-half) var(--leading);
	padding: 0;
}

ul.fd-nav {
	margin: var(--leading) 0;
}

ul.fd-nav li {
	display: inline;
	padding-right: 1rem;
}

ul.fd-nav li:last-child {
	padding-right: 0;
}

ul.fd-nav.fd-alt {
	margin-top: var(--leading);
}

ul.fd-nav.fd-alt li {
	display: block;
}

ul#fd-developers {
	list-style: none;
	margin: var(--leading) 0;
}

ul#fd-developers li {
	display: inline;
	padding-right: 1rem;
}

ul#fd-developers li::after {
	color: green;
	content: ' ✓';
}

img#fd-vg-wort {
	height: 1px;
	position: absolute;
	width: 1px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: none;
}

th,
td {
	border-right: 1px solid var(--border);
	padding: 0 .5rem;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	border-right: 0;
	padding-right: 0;
}

th {
	font-weight: 400;
	text-align: left;
	font-style: italic;
}

a {
	color: #222;
	font-weight: 500;
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	border-bottom: 1px solid var(--brand);
}

p a[rel=tag],
ol a[rel=tag] {
	font-weight: 400;
}

[class^='fd-status']::after {
	content: ' ◉';
	font-weight: 900;
}

.fd-status-go::after {
	color: green;
}

.fd-status-stop::after {
	color: red;
}

.fd-status-wait::after {
	color: orange;
}

@media screen and (max-width: 700px) {

	header ul {
		margin-top: -2px;
	}

	div#fd-showcase section:first-child {
		float: none;
		margin-right: 0;
		width: 100%;
	}

	div#fd-showcase section:first-child :last-child,
	div#fd-showcase section:last-child :last-child {
		margin-bottom: inherit;
	}

}

@media print {

	/* @@ */

}