@font-face {
	font-display: swap;
	font-family: times-backup;
	font-style: normal;
	src: local(''), url('/setup/quarantine/fonts/times-new-roman-ps.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: times-backup;
	font-style: italic;
	src: local(''), url('/setup/quarantine/fonts/times-new-roman-ps-italic.woff2') format('woff2');
}

::selection {
	background: var(--brand);
	color: #000;
}

:is(h1, h2, h3, h4, h5, h6) * {
	font-style: normal;
}

:is(ul#fd-tags, ol[start][reversed]) :is([href$='/tags/accessibility/'], [href$='/tags/css/'], [href$='/tags/html/'], [href$='/tags/javascript/'], [href$='/tags/performance/']),
ol[start][reversed] ::marker {
	color: var(--brand);
}

html {
	--border: #ccc;
	--brand: #f08713;
	--leading: 1.6875rem;
	background: #fff;
	color: #444;
	/* --leading-negative: -1.6875rem; */
	font: 400 100%/1.6875 times, times-backup, serif;
	--leading-half: .84375rem;
	--leading-half-negative: -.84375rem;
	margin: auto;
	max-width: 66ch;
}

body,
header,
header h1,
header ul,
footer p,
footer ul {
	margin: 0;
}

body {
	padding: 1rem 1rem var(--leading);
}

header,
header ul {
	display: flex;
}

header,
footer,
p#fd-meta {
	color: #666;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
th {
	font-weight: 400;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: futura, 'helvetica neue', sans-serif;
}

header {
	align-items: center;
}

header h1 {
	font-size: inherit;
	line-height: inherit;
}

header h1 img,
div.fd-promo img,
div.fd-promo a,
ul.fd-nav.fd-alt li {
	display: block;
}

header h1 img {
	height: 52px;
	margin-right: 1rem;
	width: 41px;
}

header ul,
ul#fd-tags {
	list-style: none;
}

header ul {
	flex-wrap: wrap;
}

header ul li,
th,
td {
	padding: 0 .5rem;
}

header a {
	border-bottom: 0;
}

footer,
ul.fd-nav.fd-alt {
	clear: both;
	margin-top: var(--leading);
}

footer ul li,
ul.fd-nav li {
	display: inline-block;
}

footer ul li:not(:first-child)::before {
	content: ' · ';
}

main {
	border-top: 1px solid var(--brand);
	margin-top: .75rem;
	padding-top: 3px;
}

main h1 a,
div.fd-promo a img {
	border: 0;
}

main h1 a::after {
	content: ' ↯';
}

p,
blockquote,
table {
	margin: var(--leading-half) 0;
}

p#fd-meta {
	margin: .1rem 0 var(--leading-half);
}

p#fd-meta span a,
ul.fd-nav:not(.fd-alt) li,
td:first-child {
	white-space: nowrap;
}

p {
	hyphens: auto;
}

pre,
h5,
h6,
code {
	font-size: 1rem;
}

blockquote {
	border-left: 1px solid var(--brand);
	padding-left: calc(var(--leading-half) - 1px);
}

div.fd-promo {
	float: right;
	padding: 0 0 1rem 1rem;
}

div.fd-promo img {
	border: 1px solid var(--border);
	line-height: 0;
	max-width: 110px;
	padding: 1px;
}

div.fd-promo a {
	border: 1px solid var(--brand);
}

h1 {
	font-size: 1.4375rem;
	/* line-height: 1.1739; */
	line-height: 1.4348;
	/* margin: var(--leading) 0 0; */
	margin: 1.3125rem 0 0;
}

h2,
h3,
h4 {
	margin: var(--leading) 0 0;
}

h2 {
	clear: right;
	font-size: 1.3125rem;
	line-height: 1.2857;
}

h2 + div.fd-promo {
	margin-top: var(--leading-half);
}

h3 {
	font-size: 1.25rem;
	line-height: 1.35;
}

h4 {
	font-size: 1.125rem;
	line-height: 1.5;
}

h5,
h6 {
	line-height: 1.6875;
	margin: var(--leading) 0 var(--leading-half-negative);
}

ul,
ul.fd-nav.fd-alt li,
ol {
	padding: 0;
}

ul,
ol {
	margin: var(--leading-half) 0 var(--leading-half) 2.5rem;
}

ul.fd-nav {
	margin: var(--leading) 0;
}

ul.fd-nav li:not(:last-child),
ul#fd-tags li:not(:last-child) {
	padding-right: 1rem;
}

ul#fd-tags,
ol[start][reversed] {
	margin-left: 0;
}

ul#fd-tags {
	overflow: auto;
}

ul#fd-tags li {
	float: left;
}

ol[start][reversed] {
	list-style-position: inside;
}

img#fd-vg-wort {
	height: 1px;
	position: absolute;
	width: 1px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	display: none;
}

th,
td {
	border-right: 1px solid var(--border);
	vertical-align: top;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	border-right: 0;
	padding-right: 0;
}

th {
	text-align: left;
	font-style: italic;
}

a {
	border-bottom: 1px solid var(--border);
	color: #222;
	text-decoration: none;
}

a[rel=tag] {
	color: inherit;
}

a:focus,
a:hover,
a:active {
	border-color: var(--brand);
}

strong,
b {
	font-weight: 500;
}

code {
	font-family: monospace !important;
	font-size: .875rem !important;
	line-height: 1.9286 !important;
}

/* @@ Test (also includes `data:` CSP exception) */

p#fd-meta span a[href^='https://twitter.com/']::after {
	background: #fff;
	content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHRpdGxlPlR3aXR0ZXI8L3RpdGxlPjxwYXRoIGQ9Ik0yNCA0LjU1N2MtLjg4My4zOTItMS44MzIuNjU2LTIuODI4Ljc3NSAxLjAxNy0uNjA5IDEuNzk4LTEuNTc0IDIuMTY1LTIuNzI0LS45NTEuNTY0LTIuMDA1Ljk3NC0zLjEyNyAxLjE5NS0uODk3LS45NTctMi4xNzgtMS41NTUtMy41OTQtMS41NTUtMy4xNzkgMC01LjUxNSAyLjk2Ni00Ljc5NyA2LjA0NUM3LjcyOCA4LjA4OCA0LjEgNi4xMjggMS42NzEgMy4xNDljLTEuMjkgMi4yMTMtLjY2OSA1LjEwOCAxLjUyMyA2LjU3NC0uODA2LS4wMjYtMS41NjYtLjI0Ny0yLjIyOS0uNjE2LS4wNTQgMi4yODEgMS41ODEgNC40MTUgMy45NDkgNC44OS0uNjkzLjE4OC0xLjQ1Mi4yMzItMi4yMjQuMDg0LjYyNiAxLjk1NiAyLjQ0NCAzLjM3OSA0LjYgMy40MTktMi4wNyAxLjYyMy00LjY3OCAyLjM0OC03LjI5IDIuMDQgMi4xNzkgMS4zOTcgNC43NjggMi4yMTIgNy41NDggMi4yMTIgOS4xNDIgMCAxNC4zMDctNy43MjEgMTMuOTk1LTE0LjY0Ni45NjItLjY5NSAxLjc5Ny0xLjU2MiAyLjQ1Ny0yLjU0OXoiIGZpbGw9IiMyMjIiLz48L3N2Zz4=');
	display: inline-block;
	height: .875rem;
	padding: 0 0 .5rem .3125rem;
	position: relative;
	top: .125rem;
	width: .875rem;
}

@media screen and (max-width: 700px) {

	div.fd-promo img {
		max-width: 82px;
	}

}

@media screen and (max-width: 550px) {

	body {
		padding-top: 1rem;
	}

	header h1 img {
		height: 50px;
		width: 39px;
	}

}

@media print {

	*,
	::marker {
		color: #000 !important;
	}

	header ul,
	footer,
	p#fd-meta span,
	ul.fd-nav {
		display: none;
	}

	main {
		border: 0;
	}

}