::selection {
	background: var(--brand);
	color: #000;
}

html {
	--border: #ccc;
	--brand: #f08713;
	--leading: 1.6875rem;
	--leading-half: .84375rem;
	--leading-half-negative: -.84375rem;
	/* --leading-negative: -1.6875rem; */
	background: #fff;
	color: #444;
	font: 400 100%/1.6875 system-ui, sans-serif;
	margin: auto;
	max-width: 66ch;
}

body,
header,
header h1,
header ul,
footer p,
footer ul {
	margin: 0;
}

body {
	padding: 1.25rem 1rem 1rem;
}

header,
header ul {
	display: flex;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-weight: 500;
}

header {
	align-items: center;
}

header h1 {
	font-size: inherit;
	line-height: inherit;
}

header h1 img,
div#fd-teaser img,
div#fd-teaser a,
ul.fd-nav.fd-alt li {
	display: block;
}

header h1 img,
ul.fd-nav li {
	padding-right: 1rem;
}

header h1 img {
	height: 52px;
	width: 41px;
}

header ul {
	flex-wrap: wrap;
	list-style: none;
}

header ul li,
th,
td {
	padding: 0 .5rem;
}

header a {
	border-bottom: 0;
}

footer,
p#fd-meta {
	color: #666;
}

footer,
ul.fd-nav.fd-alt {
	clear: both;
	margin-top: var(--leading);
}

footer,
ul.fd-nav {
	text-align: center;
}

footer ul li,
ul.fd-nav li {
	display: inline;
}

footer ul li::after {
	content: ' · ';
}

footer ul li:last-child::after {
	content: none;
}

main {
	border-top: 1px solid var(--brand);
	margin-top: .75rem;
	padding-top: 3px;
}

main h1 a,
div#fd-teaser a img {
	border: 0;
}

main h1 a::before {
	content: '◉ ';
}

p,
blockquote,
table {
	margin: var(--leading-half) 0;
}

p#fd-meta {
	margin: .1rem 0 var(--leading-half);
}

pre,
h5,
h6,
code {
	font-size: 1rem;
}

blockquote {
	border-left: 1px solid var(--brand);
	padding-left: calc(var(--leading-half) - 1px);
}

div#fd-teaser {
	float: right;
	padding: 0 0 1rem 1rem;
}

div#fd-teaser img {
	border: 1px solid var(--border);
	line-height: 0;
	max-width: 150px;
	padding: 1px;
}

div#fd-teaser a {
	border: 1px solid var(--brand);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: montserrat, system-ui, sans-serif;
}

h1 {
	font-size: 1.4375rem;
	/* line-height: 1.1739; */
	line-height: 1.4348;
	/* margin: var(--leading) 0 0; */
	margin: 1.3125rem 0 0;
}

h2,
h3,
h4 {
	margin: var(--leading) 0 0;
}

h2 {
	font-size: 1.3125rem;
	line-height: 1.2857;
}

h3 {
	font-size: 1.25rem;
	line-height: 1.35;
}

h4 {
	font-size: 1.125rem;
	line-height: 1.5;
}

h5,
h6 {
	line-height: 1.6875;
	margin: var(--leading) 0 var(--leading-half-negative);
}

ul,
ul.fd-nav.fd-alt li,
ol {
	padding: 0;
}

ul,
ol {
	margin: var(--leading-half) 0 var(--leading-half) 2em;
}

ul.fd-nav {
	margin: var(--leading) 0;
}

ul.fd-nav li:last-child,
th:last-child,
td:last-child {
	padding-right: 0;
}

img#fd-vg-wort {
	height: 1px;
	position: absolute;
	width: 1px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	border-right: 1px solid var(--border);
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	border-right: 0;
}

th {
	font-weight: 400;
	text-align: left;
	font-style: italic;
}

a {
	border-bottom: 1px solid var(--border);
	color: #222;
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	border-color: var(--brand);
}

/* Development */

ul#fd-developers {
	list-style: none;
	margin: var(--leading) 0;
}

ul#fd-developers li {
	display: inline;
	padding-right: 1rem;
}

ul#fd-developers li::after {
	color: green;
	content: ' ✓';
}

/* Temporary */

div#notification {
	background: var(--brand);
	color: #000;
	margin: 0 0 1.25rem;
	padding: .25rem .5rem;
	text-align: center;
}

div#notification p {
	font-size: .875rem;
	margin: 0;
}

@media screen and (max-width: 700px) {

	div#fd-teaser img {
		max-width: 100px;
	}

}

@media screen and (max-width: 550px) {

	body {
		padding-top: 1rem;
	}

	header h1 img {
		height: 50px;
		width: 39px;
	}

}

@media print {

	header ul,
	footer,
	p#fd-meta span,
	div#notification,
	ul.fd-nav {
		display: none;
	}

	main {
		border: 0;
	}

}