/* @@ Set up, then normalize */

html {
	--brand: #f18713;
	background: #fff;
	color: #333;
	font: 400 100%/1.5 serif;
	padding: 1vh 2vw;
}

/* body {
	background: #efefef;
	padding: .5rem 1rem;
} */

header {
	margin: 0 0 1rem;
	overflow: hidden;
}

header h1 {
	float: left;
	margin: 0 .5rem 0 0;
}

header ul,
article footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header ul li {
	display: inline;
	line-height: 3;
	padding-left: 1rem;
}

main * {
	max-width: 80ch;
}

main table {
	max-width: none;
}

main + footer {
	margin-top: 2rem;
}

article footer ul li {
	display: inline;
}

article footer ul li + li::before {
	content: ' · ';
}

h1 {
	font-size: 1.5rem;
	line-height: 2;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

p.meta {
	margin: 0 0 1rem;
}

a {
	border-bottom: 1px solid var(--brand);
	color: #000;
	text-decoration: none;
}

a:focus,
a:hover,
a:active {
	border-bottom-width: 2px;
}

.meta {
	color: #666;
}

#vg-wort {
	height: 1px;
	position: absolute;
	width: 1px;
}