::selection {
	background: var(--brand);
	color: #000;
}

:is(h1, h2, h3, h4, h5, h6) * {
	font-style: normal;
}

html {
	--border: #ccc;
	--brand: #f08713;
	--leading: 1.6875rem;
	--leading-half: .84375rem;
	--leading-half-negative: -.84375rem;
	/* --leading-negative: -1.6875rem; */
	background: #fff;
	color: #444;
	font: 400 100%/1.6875 system-ui, sans-serif;
	margin: 0 5vw;
	max-width: 66ch;
}

body,
header,
header h1,
header ul,
footer p,
footer ul {
	margin: 0;
}

body {
	padding: 1rem 1rem var(--leading);
}

header,
header ul {
	display: flex;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-weight: 500;
}

header {
	align-items: center;
}

header h1 {
	font-size: inherit;
	line-height: inherit;
}

header h1 img,
div.fd-promo img,
div.fd-promo a,
ul.fd-nav.fd-alt li {
	display: block;
}

header h1 img,
ul.fd-nav li:not(:last-child),
ul#fd-tags li:not(:last-child) {
	padding-right: 1rem;
}

header h1 img {
	height: 52px;
	width: 41px;
}

header ul,
ul#fd-tags {
	list-style: none;
}

header ul {
	flex-wrap: wrap;
}

header ul li,
th,
td {
	padding: 0 .5rem;
}

header a {
	border-bottom: 0;
}

footer,
p#fd-meta {
	color: #666;
}

footer,
ul.fd-nav.fd-alt {
	clear: both;
	margin-top: var(--leading);
}

footer ul li,
ul.fd-nav li {
	display: inline-block;
}

footer ul li:not(:first-child)::before {
	content: '\00A0· ';
}

main {
	border-top: 1px solid var(--brand);
	margin-top: .75rem;
	padding-top: 3px;
}

main h1 a,
div.fd-promo a img {
	border: 0;
}

main h1 a::before {
	content: '◉ ';
}

p,
blockquote,
table {
	margin: var(--leading-half) 0;
}

p#fd-meta {
	margin: .1rem 0 var(--leading-half);
}

p {
	hyphens: auto;
}

pre,
h5,
h6,
code {
	font-size: 1rem;
}

blockquote {
	border-left: 1px solid var(--brand);
	padding-left: calc(var(--leading-half) - 1px);
}

div.fd-promo {
	float: right;
	padding: 0 0 1rem 1rem;
}

div.fd-promo img {
	border: 1px solid var(--border);
	line-height: 0;
	max-width: 115px;
	padding: 1px;
}

div.fd-promo a {
	border: 1px solid var(--brand);
}

h1 {
	font-size: 1.4375rem;
	/* line-height: 1.1739; */
	line-height: 1.4348;
	/* margin: var(--leading) 0 0; */
	margin: 1.3125rem 0 0;
}

h2,
h3,
h4 {
	margin: var(--leading) 0 0;
}

h2 {
	clear: right;
	font-size: 1.3125rem;
	line-height: 1.2857;
}

h2 + div.fd-promo {
	margin-top: var(--leading-half);
}

h3 {
	font-size: 1.25rem;
	line-height: 1.35;
}

h4 {
	font-size: 1.125rem;
	line-height: 1.5;
}

h5,
h6 {
	line-height: 1.6875;
	margin: var(--leading) 0 var(--leading-half-negative);
}

ul,
ul.fd-nav.fd-alt li,
ol {
	padding: 0;
}

ul,
ol {
	margin: var(--leading-half) 0 var(--leading-half) 2.5rem;
}

ul.fd-nav {
	margin: var(--leading) 0;
}

ul.fd-nav:not(.fd-alt) li,
td:first-child {
	white-space: nowrap;
}

ul#fd-tags,
ol[start][reversed] {
	margin-left: 0;
}

ul#fd-tags {
	overflow: auto;
}

ul#fd-tags li {
	float: left;
}

ol[start][reversed] {
	list-style-position: inside;
}

ol[start][reversed] ::marker {
	color: var(--brand);
}

img#fd-vg-wort {
	height: 1px;
	position: absolute;
	width: 1px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	display: none;
}

th,
td {
	border-right: 1px solid var(--border);
	vertical-align: top;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	border-right: 0;
	padding-right: 0;
}

th {
	font-weight: 400;
	text-align: left;
	font-style: italic;
}

a {
	border-bottom: 1px solid var(--border);
	color: #222;
	text-decoration: none;
}

a[rel=tag] {
	color: inherit;
}

a:focus,
a:hover,
a:active {
	border-color: var(--brand);
}

@media screen and (max-width: 700px) {

	div.fd-promo img {
		max-width: 80px;
	}

}

@media screen and (max-width: 550px) {

	html {
		margin: 0;
	}

	body {
		padding-top: 1rem;
	}

	header h1 img {
		height: 50px;
		width: 39px;
	}

}

@media print {

	header ul,
	footer,
	p#fd-meta span,
	ul.fd-nav {
		display: none;
	}

	main {
		border: 0;
	}

}